*{
    margin: 0;
    padding: 0;
}
h1{
    font-size: 40px;
    padding: 10px 0;
}
 h2{
    font-size: 30px;
    padding: 10px 0;
}
 h3{
    font-size: 20px;
    padding: 20px 0;
}
.a_1_0{ 
    background-image: url(image/header-bg.png);
    background-repeat: no-repeat;
    width: 100%;
    
}
.a_1_3 img {
    width: 100%;
    height: 100%;
}
.a_1_1{
    float: left;
    width: 40%;
    margin-top: 100px;
    margin-left: 100px;
   
}
.a_1_1::after{
    content: '';
    display: block;
    margin: auto;
}
.a_1_3{
    float: right;
    width: 40%;
}
section{
    height: 650px;
}
.a_1_2 a{
    text-decoration: none;
    padding: 8px 20px ;
    border-radius: 3px;
    background-color: orange;
    color:#fff;
    font-weight: bolder;
    background-image: linear-gradient(45deg , yellow , orange );
    margin-top: 3px;

}

/* ...... */
.b_1_0{
    background-image: url(image/biography-bg.png);
    
}
.a_2_1 img {
    width: 100%;
    height: 100%;    
}
.a_2_1{
    float: left;
    width: 40%;
    margin-left: 100px;
}
.b_1_0{
    height: 500px;
}
/* ........... */
.c_1_0{
    width: 100%;
    background-image: url(image/footer-bg.png);
    height: 1150px;
    overflow: hidden;
}

.c_1_2{
   text-align: center;
    padding: 40px;  
}
.c_1_0 p{
    padding-bottom: 20px;
    padding-top: 20px;
}
.c_1_0_1{
    width: 100%;
}
.c_1_2 img {
    width: 25%;
    margin: auto;
}
.last{
    padding: 100px;
    width: 50%;
    margin: auto;
}
.last h1{
    text-align: center;
    padding: 18px;
}
.last h3{
    text-align: center;
    padding: 14px;
}
.last p{
    text-align: center;
    padding: 5px;
}
.last_1{
    
    margin: auto;
}
.last_1 p{
    text-align: center;
}
.last_1 h2{
    text-align: center;
}
.last_1{
    background-color: purple;
    padding: 10px 10px;
    border-radius: 5px;
}
.c_1_0 p{
    text-align: center;
    
}





.last_1{
    background-color: rgb(115, 115, 206);
    font-size: 40px;
    color: rgb(18, 214, 51);
    
    padding: 40px 20px ;
    border-radius: 5px;
   margin: auto;
    width: 100%;
    
    margin: 1px ;
    padding: 20px 20px;
    
    background: repeating-linear-gradient(50deg, 
    #2980b9,#27ae60,#8e44ad,#e20909,#0984e3,#6c5ce7,
    #be2edd,#FFC312,#EA2027,#FFC312,#1B1464
   
    );

   animation-direction: alternate;
   animation: gradient 60s  linear infinite;
   background-size: 1000% 1000%;
}
@keyframes gradient{
    100%{background-position:1000%;}
    100%{background-position:1000%;}
}
   




@media only screen and (max-width:800px){
.c_1_0{
    max-height: 1040px;
}   


}@media only screen and (max-width:500px){
    .a_1_1 {
 
        margin-top: 30px;
        margin-left: 30px;
    }
    .a_1_3 {
        width: 35%;
    }
    .a_2_1 {
        width: 40%;
        margin-left: 30px;
    }
    section{
        width: 100%;
    }
    .c_1_0{
        width: 100%;
        height: 850px;
    }
    .last h1 {
        text-align: center;
        padding: 0;
    }
    .last {
        padding:50px;
        width: 80%;
        text-align: center;
    }
    h1 {
        font-size: 30px;
    }
}@media only screen and (max-width:450px){
    .a_1_3 {
        width: 48%;
        margin-top: 40px;
    }
    .b_1_0 {
        height: 600px;
    }
    .a_2_1 {
        width: 50%;
        margin-left: 1px;
        padding-top: 60px;
    }
    .last_1 {
        background-color: orange;
        padding: 0;
    }
}